<div class = "row">
    <div class = "col-md-2">
        <h3 style ="text-align:left">NSE AND BSE</h3>
        
       
    </div>
    <div class = "col-md-2">
        <h4>previous close:</h4>

    </div>
    <div class = "col-md-2">
        <h4>open:</h4>

    </div>
    <div class = "col-md-2">
        <h4>high:</h4>

    </div>
    <div class = "col-md-2">
        <h4>low:
        </h4>

    </div>
    <div class = "col-md-2">
        <div class="container">
            <div class="dropdown"  style="    margin-left: 30px; margin-top: 30px;">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="padding-right:10px;">INDEX
                <span class="caret" style="margin-left:30px"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">BSE</a></li>
                  <li><a href="#">NSE</a></li>
                 
                </ul>
              </div>


    </div>
</div>